h1{
    text-align: center;
    font-size: 4rem;
}
button{
    font-size: 9rem;
    border: 2px solid rgb(245, 245, 128);
    border-radius: 50%;
}
.hand{
    display: flex;
    justify-content: space-evenly;
   
}
.result-content{
    font-size: 2rem;
    margin: 50px auto;
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#result{
    font-size: 4rem;
}
#resetBtn{
    margin: 0px auto;
    font-size: 1.7rem;
    padding: 5px 20px;
    border: 1px solid rgb(37, 37, 37);
    border-radius: 10%;
    cursor: pointer;
}

@media screen and (max-width: 785px) {
    h1{
        font-size: 3rem;
    }
    button{
        font-size: 7rem;
    }
    .result-content{
        font-size: 2rem;
    }
    #result{
        font-size: 3rem;
    }
    #resetBtn{
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 615px) {
    button{
        font-size: 6rem;
    }
}
@media screen and (max-width: 500px) {
    button{
        font-size: 5rem;
    }
}
@media screen and (max-width: 420px) {
    h1{
        font-size: 2.6rem;
    }
    button{
        font-size: 4.5rem;
    }
    .result-content{
        font-size: 1.7rem;
    }
    #result{
        font-size: 2.7rem;
    }
    #resetBtn{
        font-size: 1.2rem;
    }
}